
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-section {
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
}

.main-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
    min-height: 100vh;
}

.background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    -webkit-object-fit: contain;
    -moz-object-fit: contain;
    -ms-object-fit: contain;
    object-fit: contain;
    overflow: hidden;
    object-position: 50% 65%;
    background: radial-gradient(40.71% 19.18% at 50.49% 50.85%, #1A485C -53%, #152839 76%);
}

.background-video img{
    object-fit: contain;
    filter: brightness(1.3);
    transform: translateY(6%);
}

.logo {
    max-width: 370px;
    width: 90%;
}

.form-wrapper {
    max-width: 480px;
    width: 100%;
}

.form-wrapper .form-title {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    color: #A88873;
}

.form-wrapper .input-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    width: 450px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.form-wrapper .input-wrapper input {
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 3px solid #BDD3DD;
    border-right: 0;
    color: #1A485C;
    font-weight: 500;
    width: 100%;
    background: #ECF1F4;
    outline: 0;
    box-shadow: none;
}

.form-wrapper .input-wrapper input::placeholder,
.form-wrapper .input-wrapper input::-moz-placeholder,
.form-wrapper .input-wrapper input:-ms-input-placeholder {
    color: #8C8CA1;
}

.form-wrapper .input-wrapper .notify-me {
    width: 130px;
    outline: 0;
    border: 3px solid #BDD3DD;
    border-left: 0;
    box-shadow: 0;
    padding: .5rem;
    color: #BDD3DD;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-align: center;
    height: 3rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all .2s ease-in-out;
    flex: 1 0 130px;
}
.form-wrapper .input-wrapper .notify-me:hover{
    background-color: #A88873;
    border-color: #A88873;
    color: #F9F4EF;
    box-shadow: 0px 2px 2px -1px #4A4A681A inset;
}

.form-wrapper .info p {
    font-size: .875rem;
    font-weight: 400;
    line-height: 16.42px;
    text-align: center;
    color: #C4C4C4;
}


/* Animated section */
.animated-content{
    overflow: hidden;
}

.animated-content .item {
    display: none;
}

.animated-content hr {
    max-width: 600px;
    width: 65%;
    background: #F9F4EF;
    height: 1.5px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    transform: translateY(200px);
    animation: fadeInUp 2.5s .7s ease-in forwards;
}

.animated-content .heading-output,
.animated-content .info-output{
    overflow: hidden;
}

.animated-content .heading-output p{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 1.5s ease-in forwards;
}

.animated-content .heading-output span {
    color: #A88873;
}

.animated-content .info-output p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 1.5s .5s ease-in forwards;
}

.animated-content .info-output span {
    color: #A88873;
}

.animated-content .active {
    display: block;
}

.animated-content .active .heading-output,
.animated-content .active .info-output {
    display: block;
}

.animated-content .active .heading-output,
.animated-content .active .info-output {
    display: block;
}


/* footer */
footer .icon-link{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .icon-link .icon{
    transition: opacity .3s ease-in-out;

}
footer .icon-link .icon-hover{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

footer .icon-link:hover :not(.icon-hover){
    opacity: 0;
}

footer .icon-link:hover .icon-hover{
    opacity: 1;
}



/* Media */
@media screen and (max-width:992px) {
    :root {
        font-size: 15px;
    }

    .logo {
        max-width: 250px;
    }

    .animated-content .heading-output p{
        font-size: 2.75rem;
    }

    .animated-content .info-output p{
        font-size: 1.15rem;
    }
    .form-wrapper {
        padding-top: 45vw;
    }
}

@media screen and (max-width:768px) {
    .background-video{
        background: radial-gradient(40.71% 19.18% at 49.49% 56.85%, #1A485C -57%, #152839 76%);
        object-position: 50% 67%;
    }
    .animated-content .heading-output p{
        font-size: 2rem;
    }

    .animated-content .info-output p{
        font-size: 1rem;
    }
}

/* Keyframes */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}